body {
  height: 100vh;
  background: #e0e0e0;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background: #d18f13;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.title{
  margin-left: 50px;
  font-size: xx-large;
  background: linear-gradient(45deg, #ffe1b6, #ffebd4, #ffe0af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.calculator-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 137px;
}

.calculator {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 136, 0, 0.373);
  border: 1px solid #d18f13;
}
.calculator.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.calculator.dark .buttons button {
  background-color: #333;
  color: #fff;
  border: none;
}
.calculator.dark .display{
  background-color: rgb(84, 84, 84);
  color: white;
  border-color:#1e1e1e ;
}

.display {
  width: 97.5%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  border-radius: 12px;
  padding-right: 10px;
  text-align: right;
  background-color: #f3f3f3 ;
  border: 1px solid #d9d9d9;
  outline: none;
  box-shadow: none;  
  transition: background 0.5s;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 100px;
  background: #f0f0f0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 136, 0, 0.222);
  transition: background 0.5s;
}

button.active {
  background: #a0a0a0 !important;
  box-shadow: 0 0 5px rgba(255, 136, 0, 0.685);
}

button:hover {
  background: #ccc;
  box-shadow: 0 0 5px rgba(255, 136, 0, 0.685);
}
.equals{
  background-color: #ffa600 !important;
}

.bottom {
  display: flex;
  justify-content: end;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 50px;
  margin-top: 100px;
}



@media (max-width: 768px) {
  .calculator {
  margin-right: 100px;
  
  }

  .display{
    margin-bottom: 100%;

  }

}